
p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Abel', sans-serif;
}

table, th, td {
    border: 1px solid blue;
    background-color: pink;
  }

  <style type="text/css">
  body {
      width: 750px;
      font-family: Arial, Verdana, sans-serif;
      color: #665544;}
  h1 {
      position: absolute;
      top: 0px;
      left: 500px;
      width: 250px;}
  p {
      width: 450px;}
</style>



<style type="text/css">
body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;}
h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;}
p.example {
    margin-top: 100px;}
</style>


<style type="text/css">
body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #ff8000;}
p {
    width: 450px;}
p.example {
    position: relative;
    top: 10px;
    left: 100px;}
</style>